* {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text-color);
  /*color: var(--primary-text-color); #202124*/ 
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

html, body, .main-container{
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  margin-left: 0;
  overflow: hidden;
  background-color: var(--background-color);
}

h1,
h2,
h3,
input,
button {
  font-family: "Geologica", serif;
  /*color: var(--primary-text-color);*/
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 1em auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 14px;
  background-color: var(--input-bg-color);
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  transition: background-color 200ms ease-in-out;
  background-color: var(--button-hover);
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: var(--input-bg-color);
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1.5em;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: var(--input-bg-color);
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.5;
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}